.outer {
  display: flex;
  gap: 1rem;
  transition: var(--card-transition-duration) ease-in-out;
  padding: 1rem;
  align-items: flex-start;
}

.outer:hover {
  background-color: var(--main-bg);
  filter: brightness(1.1);
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(-5px);
}
.outer a {
  transition: var(--card-transition-duration) ease-in-out;
  color: var(--text-bold);
  font-size: 20px;
}

.inner i {
  font-size: 16px;
  transition: transform var(--card-transition-duration) ease-in-out;
}
.outer:hover i {
  transform: translate(3px, -3px);
}

.outer:active {
  transform: scale(0.95);
}

.outer:hover a {
  color: var(--tags);
}

.date {
  margin: 0;
  font-size: 12px;
  min-width: fit-content;
  text-transform: uppercase;
  padding-top: 5px;
  font-weight: bold;
  font-family: "Inter";
}

.tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: none;
  gap: 0.5rem;
  text-transform: capitalize;
}

.tags p {
  margin: 0;
  display: flex;
  align-items: center;
  min-width: fit-content;
  color: var(--tags-color);
  background-color: var(--tags-bg);
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 15px;
}

.title {
  text-transform: capitalize;
}

.popUp {
  animation: fade-in 500ms ease-in-out;
  position: fixed;
  z-index: 100;
  background: var(--main-bg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
}

.xButton {
  transform: translate(-1rem, 2rem);
  z-index: 300;
}

.xButton:hover {
  cursor: pointer;
}

.popUp iframe {
  border-radius: 15px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
