.button {
  all: unset;
  font-weight: 400;
  transition: var(--card-transition-duration);
  background: transparent;
  border-radius: 5px;
  padding: 0.5rem;
  color: var(--text-bold);
}

.arrow {
  transition: transform var(--card-transition-duration);
}

.button:hover .arrow {
  transform: translate(3px, -3px);
}

.button:hover {
  background-color: var(--main-bg);
  filter: brightness(1.3);
  cursor: pointer;
  transform: translateY(-5px);
  color: var(--tags);
}

.button:active {
  transform: scale(0.98);
}

.buttonA {
  all: unset;
}
