.outer {
  transition: var(--card-transition-duration) ease-in-out;
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loadingBg {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg);
}
.donutContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.donut {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(151, 159, 208, 0.3);
  border-top-color: var(--text-bold);
  animation: 1.5s spin infinite linear;

  &.multi {
    border-bottom-color: var(--text-bold);
  }
}

.date {
  margin: 0;
  font-size: 12px;
  width: 100%;
  text-transform: uppercase;
  padding-top: 5px;
  font-weight: bold;
  font-family: "Inter";
  display: inline-block;
  flex: 30%;
}

.inner {
  display: block;
  flex: 100%;
}

.outer:hover {
  background-color: var(--main-bg);
  filter: brightness(1.1);
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(-5px);
}
.outer a {
  transition: var(--card-transition-duration) ease-in-out;
  color: var(--text-bold);
  font-size: 20px;
}

.inner i {
  font-size: 16px;
  transition: transform var(--card-transition-duration) ease-in-out;
}

.outer:hover i {
  transform: translate(3px, -3px);
}

.outer:active {
  transform: scale(0.95);
}

.outer:hover a {
  color: var(--tags);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: none;
  gap: 0.5rem;
}

.tags p {
  margin: 0;
  display: flex;
  align-items: center;
  min-width: fit-content;
  color: var(--tags-color);
  background-color: var(--tags-bg);
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 15px;
}

.title {
  text-transform: capitalize;
}

.popUp {
  animation: fade-in 500ms ease-in-out;
  position: fixed;
  z-index: 100;
  background: var(--main-bg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  border-radius: 15px;
}

.popUp iframe {
  border-radius: 0px 0px 15px 15px;
  transition: 1s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.expandButton {
  text-align: left;
  z-index: 300;
}

.xButton {
  z-index: 300;
}

.buttons i {
  cursor: pointer;
  transition: transform 150ms ease-in-out;
}
.buttons {
  font-size: 24px;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  padding: 1rem 2rem;
}

.buttons i:hover {
  transform: scale(0.9);
}

@media only screen and (max-width: 1330px) {
  .popUp {
    z-index: 999;
  }
  .outer {
    flex-direction: column;
  }
  .buttons > .expandButton {
    display: none;
  }
  .buttons {
    justify-content: flex-end;
  }
}
