.navbar a,
.navbar i {
  all: unset;
  cursor: pointer;
}
.navbar a,
.navbar i {
  transition: 150ms ease-in-out;
}
.navbar a:hover,
.navbar i:hover {
  color: var(--text-bold);
}
@media only screen and (max-width: 1330px) {
  .navbar {
    margin: 0;
    background: rgba(224, 232, 244, 0.95);
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 500;
    border-radius: 50px;
    font-size: 14px;
  }
  .navbar > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar a:hover,
  .navbar i {
    color: inherit;
  }
}
