.navbar a,
.navbar i {
  all: unset;
  cursor: pointer;
}
.navbar a,
.navbar i {
  transition: 150ms ease-in-out;
}

.navbar a:hover,
.navbar i:hover {
  color: var(--text-bold);
}
.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.active i {
  transition: 150ms ease-in-out;
  transform: scale(0.95);
}

.active {
  color: var(--text-bold);
  display: inline-flex;
  align-items: center;
}

@keyframes animateLine {
  from {
    width: 0;
  }
  to {
    width: 1rem;
  }
}

.active::before {
  animation: animateLine 150ms ease-in-out;
  content: "";
  height: 2px;
  width: 1rem;
  background-color: var(--text-bold);
  margin-right: 8px;
}

@media only screen and (max-width: 1330px) {
  .navbar {
    margin: 0;
    background: rgba(224, 232, 244, 0.95);
    backdrop-filter: blur(10px);
    position: fixed;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 500;
    border-radius: 50px;
    font-size: 14px;
    bottom: 1%;
  }
  .navbar > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-direction: row;
  }
  .navbar a:hover,
  .navbar i {
    color: inherit;
  }
  .active::before {
    display: none;
  }
  .active i {
    transform: scale(1);
  }
  .active {
    color: black;
  }
}
